In [2]:
import pandas as pd

import config

In [3]:
df = pd.read_csv(config.RAW_STORM_DB_PATH)

In [4]:
df.columns

Index(['Storm', 'Life', 'Area', 'Initial UTC', 'Lon', 'Lat', 'Parent', 'Child',
       'Accreted', 'u', 'v', 'in_gha', 'gpm_mean', 'gpm_max', 'gpm_frac',
       'gpm_perc90', 'Min BT', 'Mean BT', 'Final UTC', 'timestamp',
       'mjo_amplitude', 'mjo_phase', 'rmm1', 'rmm2', 'lst', 'u_ms', 'v_ms',
       'LonInBounds', 'LatInBounds', 'in_domain', 'areaxgpm_mean', 'duration',
       'duration_hr', 'speed', 'mean_speed', 'east_africa_time', 'eat_hours'],
      dtype='object')

In [5]:
df[["Initial UTC", "Final UTC", "timestamp", "east_africa_time"]].head()

,Initial UTC,Final UTC,timestamp,east_africa_time
0,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:15:00,2014-01-02 17:15:00
1,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:30:00,2014-01-02 17:30:00
2,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:45:00,2014-01-02 17:45:00
3,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 15:00:00,2014-01-02 18:00:00
4,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 15:15:00,2014-01-02 18:15:00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588915 entries, 0 to 588914
Data columns (total 37 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Storm             588915 non-null  int64
 1   Life              588915 non-null  int64
 2   Area              588915 non-null  int64
 3   Initial UTC       588915 non-null  object
 4   Lon               588915 non-null  float64
 5   Lat               588915 non-null  float64
 6   Parent            588915 non-null  object
 7   Child             588915 non-null  object
 8   Accreted          588915 non-null  object
 9   u                 588915 non-null  float64
 10  v                 588915 non-null  float64
 11  in_gha            588915 non-null  bool
 12  gpm_mean          151233 non-null  float64
 13  gpm_max           151233 non-null  float64
 14  gpm_frac          151233 non-null  float64
 15  gpm_perc90        151233 non-null  float64
 16  Min BT            588915 non-null  float64
 17  Mean BT           588915 non-null  float64
 18  Final UTC         588915 non-null  object
 19  timestamp         588915 non-null  object
 20  mjo_amplitude     588915 non-null  float64
 21  mjo_phase         588915 non-null  int64
 22  rmm1              588915 non-null  float64
 23  rmm2              588915 non-null  float64
 24  lst               588915 non-null  float64
 25  u_ms              588915 non-null  float64
 26  v_ms              588915 non-null  float64
 27  LonInBounds       588915 non-null  bool
 28  LatInBounds       588915 non-null  bool
 29  in_domain         588915 non-null  bool
 30  areaxgpm_mean     151233 non-null  float64
 31  duration          588915 non-null  object
 32  duration_hr       588915 non-null  float64
 33  speed             588915 non-null  float64
 34  mean_speed        588915 non-null  float64
 35  east_africa_time  588915 non-null  object
 36  eat_hours         588915 non-null  float64
dtypes: bool(4), float64(21), int64(4), object(8)
memory usage: 150.5+ MB

In [7]:
df["gpm_mean"].isna().sum() / df.shape[0]

np.float64(0.7432006316701052)

In [8]:
df[["Storm", "Min BT", "Mean BT"]].head()

   Storm  Min BT  Mean BT
0   3992  212.28   221.51
1   3992  212.31   220.28
2   3992  213.57   221.67
3   3992  217.24   223.31
4   3992  218.79   224.48