In [ ]:
import pandas as pd

import config

In [ ]:
raw_df = pd.read_csv(config.RAW_STORM_DB_PATH)

In [ ]:
raw_df.columns

Index(['Storm', 'Life', 'Area', 'Initial UTC', 'Lon', 'Lat', 'Parent', 'Child',
       'Accreted', 'u', 'v', 'in_gha', 'gpm_mean', 'gpm_max', 'gpm_frac',
       'gpm_perc90', 'Min BT', 'Mean BT', 'Final UTC', 'timestamp',
       'mjo_amplitude', 'mjo_phase', 'rmm1', 'rmm2', 'lst', 'u_ms', 'v_ms',
       'LonInBounds', 'LatInBounds', 'in_domain', 'areaxgpm_mean', 'duration',
       'duration_hr', 'speed', 'mean_speed', 'east_africa_time', 'eat_hours'],
      dtype='object')

In [ ]:
raw_df[["Initial UTC", "Final UTC", "timestamp", "east_africa_time"]].head()

,Initial UTC,Final UTC,timestamp,east_africa_time
0,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:15:00,2014-01-02 17:15:00
1,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:30:00,2014-01-02 17:30:00
2,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:45:00,2014-01-02 17:45:00
3,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 15:00:00,2014-01-02 18:00:00
4,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 15:15:00,2014-01-02 18:15:00

In [ ]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588915 entries, 0 to 588914
Data columns (total 37 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Storm             588915 non-null  int64
 1   Life              588915 non-null  int64
 2   Area              588915 non-null  int64
 3   Initial UTC       588915 non-null  object
 4   Lon               588915 non-null  float64
 5   Lat               588915 non-null  float64
 6   Parent            588915 non-null  object
 7   Child             588915 non-null  object
 8   Accreted          588915 non-null  object
 9   u                 588915 non-null  float64
 10  v                 588915 non-null  float64
 11  in_gha            588915 non-null  bool
 12  gpm_mean          151233 non-null  float64
 13  gpm_max           151233 non-null  float64
 14  gpm_frac          151233 non-null  float64
 15  gpm_perc90        151233 non-null  float64
 16  Min BT            588915 non-null  float64
 17  Mean BT           588915 non-null  float64
 18  Final UTC         588915 non-null  object
 19  timestamp         588915 non-null  object
 20  mjo_amplitude     588915 non-null  float64
 21  mjo_phase         588915 non-null  int64
 22  rmm1              588915 non-null  float64
 23  rmm2              588915 non-null  float64
 24  lst               588915 non-null  float64
 25  u_ms              588915 non-null  float64
 26  v_ms              588915 non-null  float64
 27  LonInBounds       588915 non-null  bool
 28  LatInBounds       588915 non-null  bool
 29  in_domain         588915 non-null  bool
 30  areaxgpm_mean     151233 non-null  float64
 31  duration          588915 non-null  object
 32  duration_hr       588915 non-null  float64
 33  speed             588915 non-null  float64
 34  mean_speed        588915 non-null  float64
 35  east_africa_time  588915 non-null  object
 36  eat_hours         588915 non-null  float64
dtypes: bool(4), float64(21), int64(4), object(8)
memory usage: 150.5+ MB

In [ ]:
raw_df["gpm_mean"].isna().sum() / raw_df.shape[0]

np.float64(0.7432006316701052)

In [ ]:
processed_df = pd.read_csv(
    config.PROCESSED_DATASET_PATH, parse_dates=["timestamp"]
)

In [ ]:
raw_df["timestamp"] = pd.to_datetime(raw_df["timestamp"])

In [ ]:
comparison_df = raw_df.merge(
    processed_df,
    left_on=["timestamp"],
    right_on=["timestamp"],
    how="inner",
)

In [ ]:
comparison_df[
    ["timestamp", "gpm_mean", "areaxgpm_mean", "mean_prcp_400"]
].head()

            timestamp  gpm_mean  areaxgpm_mean  mean_prcp_400
0 2014-01-02 14:15:00       NaN            NaN       0.013373
1 2014-01-02 14:30:00  1.731000      69.239998       0.013495
2 2014-01-02 14:45:00  1.181923      61.460004       0.013495
3 2014-01-02 15:00:00       NaN            NaN       0.012096
4 2014-01-02 15:15:00       NaN            NaN       0.008016

In [ ]:
comparison_df[["gpm_mean", "areaxgpm_mean", "mean_prcp_400"]].describe()

           gpm_mean  areaxgpm_mean  mean_prcp_400
count  1.161220e+06   1.161220e+06   4.433703e+06
mean   1.247863e+00   6.332686e+02   2.112992e-01
std    1.475018e+00   1.776981e+03   1.848503e-01
min    0.000000e+00   0.000000e+00   0.000000e+00
25%    1.061682e-01   1.116000e+01   6.742303e-02
50%    8.207318e-01   1.165700e+02   1.632198e-01
75%    1.833333e+00   5.000400e+02   3.068353e-01
max    2.795210e+01   7.866785e+04   1.820828e+00