In [ ]:
import pandas as pd

import config

In [ ]:
df = pd.read_csv(config.RAW_STORM_DB_PATH)

In [ ]:
df.columns

Index(['Storm', 'Life', 'Area', 'Initial UTC', 'Lon', 'Lat', 'Parent', 'Child',
       'Accreted', 'u', 'v', 'in_gha', 'gpm_mean', 'gpm_max', 'gpm_frac',
       'gpm_perc90', 'Min BT', 'Mean BT', 'Final UTC', 'timestamp',
       'mjo_amplitude', 'mjo_phase', 'rmm1', 'rmm2', 'lst', 'u_ms', 'v_ms',
       'LonInBounds', 'LatInBounds', 'in_domain', 'areaxgpm_mean', 'duration',
       'duration_hr', 'speed', 'mean_speed', 'east_africa_time', 'eat_hours'],
      dtype='object')

In [6]:
df[["Initial UTC", "Final UTC", "timestamp", "east_africa_time"]].head()

,Initial UTC,Final UTC,timestamp,east_africa_time
0,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:15:00,2014-01-02 17:15:00
1,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:30:00,2014-01-02 17:30:00
2,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 14:45:00,2014-01-02 17:45:00
3,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 15:00:00,2014-01-02 18:00:00
4,2014-01-02 14:15:00,2014-01-02 17:30:00,2014-01-02 15:15:00,2014-01-02 18:15:00